@font-face {
    font-family: 'ProximaNova';
    font-weight: 300;
    src: url('./fonts/ProximaNova-Light.ttf');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 400;
    src: url('./fonts/ProximaNova-Regular.ttf');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 600;
    src: url('./fonts/ProximaNova-Semibold.ttf');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 700;
    src: url('./fonts/ProximaNova-Bold.ttf');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 800;
    src: url('./fonts/ProximaNova-Extrabold.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 300;
    src: url('./fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 600;
    src: url('./fonts/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 700;
    src: url('./fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 800;
    src: url('./fonts/OpenSans-Extrabold.ttf');
}