$container-width: 1230px;
$padding-value: 0 30px;
$shadow: 0 0 40px 10px rgba(0,0,0,.1);

$light-blue: #139cdd;
$blue: #176fff;

$extra-light-gray: #ececec;
$light-gray: #8d8d8d;
$gray: #6a6a6a;
$dark-gray: #4b4b4b;
$extra-dark-gray: #373737;

$primary-color: $light-blue; 
$accent-color: $blue;