$container-width: 1230px;
$padding-value: 0 30px;

$light-blue: #139cdd;
$blue: #176fff;

$extra-light-gray: #ececec;
$gray: #6a6a6a;
$dark-gray: #4b4b4b;
$extra-dark-gray: #373737;

$primary-color: $light-blue; 
$accent-color: $blue;