@import '../helpers/variables';

.certificates {
    width: 100%;
    background: white url('./img/certificates_bg.png');
    background-repeat: no-repeat;
    background-size: auto 200px;
    background-position: top left;

    &__wrapper {
        max-width: $container-width;
        padding: $padding-value;
        margin: 0 auto;
    }

    &__title {
        padding-bottom: 100px;
        color: $primary-color;
        font-family: 'ProximaNova';
        font-size: 40px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            margin: 0 20px;
            cursor: zoom-in;
        }
    }
}