@import '../helpers/variables';

.footer {
    width: 100%;
    background: white;

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
        background: black;
    }

    &-item {
        display: flex;
        align-items: center;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            margin-right: 10px;
            color: $light-gray;

            .fa-clock-o {
                font-size: 2em;
            }

            .fa-envelope {
                font-size: 1.5em;
            }

            .fa-mobile {
                font-size: 2.5em;
            }

            .fa-map-marker {
                font-size: 2em;
            }
        }

        &__text {
            color: $light-gray;    
            font-size: 15px;
            line-height: 1.5;
        }

        &__title {
            font-family: 'OpenSans';
            font-weight: 700;
            text-transform: uppercase;
        }

        &__description {
            font-family: 'OpenSans';
            font-weight: 400;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 30px;
        color: $dark-gray;
        font-family: 'OpenSans';
        font-weight: 400;        
        font-size: 18px;

        & ul li {
            float: left;
            list-style-type: none;
            margin-right: 30px;
            cursor: pointer;
            
            a {
                display: inline-block;
                color: $dark-gray;
                text-decoration: none;
                text-align: center;
                
                &:hover {
                    font-weight: 700;
                }

                &::after {
                    display: block;
                    content: attr(title);
                    font-weight: 700;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }

            &._active {
                font-family: 'OpenSans';
                font-weight: 700;            
                cursor: default;
            }
        }

    }
    
    &__vk-icon {
        cursor: pointer;
        
        & .fa-vk {
            color: $dark-gray;
            font-size: 1.5em;
            
            &:hover {
                color: $primary-color;
            }
        }
    }

    &__company-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 30px;
        color: $dark-gray;
        font-family: 'OpenSans';
        font-weight: 400;        
        font-size: 16px;
    }
}