@import '../helpers/variables';

.services {
    width: 100%;
    background: white;

    &__wrapper {
        max-width: $container-width;
        padding: $padding-value;
        margin: 0 auto;
    }

    &__title {
        padding: 70px 0;
        color: $primary-color;
        font-family: 'ProximaNova';
        font-size: 40px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;
    }

    &__treatment {
        background: url('./img/services_1.png');  
    }

    &__deleting {
        background: url('./img/services_2.png');
    }

    &__prothesis {
        background: url('./img/services_3.png');
    }

    &__price {
        width: 600px;
        height: 300px;
        margin: 0 auto;
        margin-bottom: 70px;
        box-shadow: $shadow;
    }
}

.service {
    width: 330px;
    height: 220px;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(2, 101, 228, 0.5);
        transition: all .3s ease;
        cursor: pointer;

        &:hover {
            background: rgba(14, 167, 243, 0.5); 
            box-shadow: $shadow;      
            
            & .service__name::after {
                left: 0;
                right: 0;
                height: 2px;
                transform: scaleX(1);
            }
        }
    }

    &__name {
        color: white;
        font-family: 'ProximaNova';
        font-size: 26px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            margin-top: 10px;
            background: white;
            transform: scaleX(.2);
            transition: all .3s ease;
        }
    }
}

.price-table {
    display: flex;
    justify-content: space-between;

    &__header {
        display: flex;
        justify-content: space-between;
    }
}